<footer class="footer">
  <div class="container">

    <p class="text">
      © 2026 | Designed & Built by <span>Omayma Maalej</span>
    </p>

    <div class="icons">
      <a href="https://www.linkedin.com/in/omayma-maalej" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>

      <a href="https://github.com/omaymamaalej" target="_blank">
        <i class="fab fa-github"></i>
      </a>

      <a href="mailto:om.maalej@gmail.com">
        <i class="fas fa-envelope"></i>
      </a>
    </div>

  </div>
</footer>