<div class="card card-layout" style="max-width: 350px; min-width: 350;">
    <div class="card-body">
        <h5 class="card-title">{{ card.name }}</h5>
        <p class="card-text">{{ card.summary }}</p>
        <button class="button-small"(click)="openCardModal()"><a>View More</a></button>
    </div>
      <div class="tags">
  @for (tag of card.tags; track tag) {
    <span 
      class="tag"
      [style.background]="tag.color"
      (click)="openLink(tag.link); $event.stopPropagation()">
      {{ tag }}
    </span>
  }
</div>
</div>
<div class="tags">

</div>
