<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">
               I am a Full-Stack Developer with a strong background in software and data engineering, currently completing a Master’s degree in Software and Data Engineering.
</p>
               
                <p class="default-p">I specialize in designing and developing scalable and secure web applications using modern technologies such as Angular and Spring Boot.
</p>
                <p class="default-p">During my internships, I worked on real-world projects, including AI-powered applications. One of my key achievements was developing an intelligent business plan generation platform that automates complex processes.</p>
                <p class="default-p">I am adaptable, detail-oriented, and solution-driven. I enjoy working in collaborative environments and continuously learning new technologies.
</p>
                <p class="default-p">My goal is to contribute to innovative projects while growing as a developer.</p>
                <p class="default-p">
                   Outside of coding, I enjoy photography, content creation, and staying active through team sports.</p>
              
         
                   <button (click)="scrollTo('contact')" class="nav-link">
  Contact me
</button>
                </div>
            </div>
        </div>
    </div>

